<script>
$(function(){
  $("#jump").click(function() {
        var speed = 500;
        var position = document.getElementById("bottom").offsetTop; 
        $('html, body').animate({ scrollTop: position }, speed, 'swing');
        return false;
  });
});
</script>

<div id="top">
  <div class="top_top">
    <div class="inner">
      <div class="logo"><%= image_tag('logo.png', :alt => 'RakuTabi') %></div>
      <div class="button"><%= link_to image_tag('button.png', :alt => 'Search'), '/selection' %></div>
    </div>
  </div>
  <div class="top_bottom">
    <div class="innner">
      <div><a id="jump" href="#bottom">詳細をみる ∨</a></div>
    </div>
  </div>
</div>

<div id="bottom">
  <div class="feature">
    <div class="bottom_text">
      <p class="title">RakuTabiとは</p>
      <p class="text">
        RakuTabiは、他のサービスとはちょっと違う、今までにない旅行ツアーレコメンドサービスです。<br />
        「休みがとれた。どこ行こう」<br />
        行き先が決まっていない旅の検索に最適です。
      </p>
    </div>
    <div class="bottom_image">
      <p class="image"><%= image_tag("feature01.png") %></p>
    </div>
  </div>

 <div class="feature">
    <div class="bottom_image">
      <p class="image"><%= image_tag("feature02.png") %></p>
    </div>
    <div class="bottom_text">
      <p class="title">シンプルな検索</p>
      <p class="text">
        旅行ツアーをレコメンドしてもらうためにやらなきゃいけないことは、シンプルな質問に答えるだけ。<br />
        細かいことを考えたり、たくさんの条件を入力する必要はありません。
      </p>
    </div>
  </div>

  <div class="feature">
    <div class="bottom_text">
      <p class="title">思いつかないような場所へ</p>
      <p class="text">
        たったそれだけで、その時の気分にあった、自分では思いつかないような旅行ツアーをレコメンドしてくれます。<br />
        世界はひろい。<br />
        RakuTabiで新しい発見をしてください。
      </p>
    </div>
    <div class="bottom_image">
      <p class="image"><%= image_tag("feature03.png") %></p>
    </div>
  </div>
</div>

<div id="footer">
  Copyright 2014 &copy; RakuTabi. All rights reserved.
</div>

<div id="totop"><a href="#"><img src="/assets/totop.png"></a></div>

<script>
$(function() {
  // 最初はhide
  $('#totop').hide();
  
  // スクロールに応じてfadein/fadeout
  $(window).scroll(function(){
    if($(this).scrollTop() > 300) {
      $('#totop').fadeIn();
    } else {
      $('#totop').fadeOut();
    }
  
  });
  
  // クリックされたら上へ
  $('#totop a').click(function() {
      $('body, html').animate({
          scrollTop: 0
      }, 500);
      return false;
  });
});
</script>
<!-- /totop-->