<div id="cityname" style="display:none;"><%= cityname %></div>
<div id="instagramphoto" class="instagram"></div>
<div id="nophoto_l" class="hashtag" style="display:none;">
  <%= image_tag('hashtag_l.png') %>
  <div class="hashtag_l"><%="#" + cityname.downcase + "tabinotane" %></div>
</div>
<div id="nophoto_s" class="hashtag" style="display:none;">
  <%= image_tag('hashtag_s.png') %>
  <div class="hashtag_s"><%="#" + cityname.downcase + "tabinotane" %></div>
</div>
<div class="instagram tabitane"></div>
<div class="instagram food"></div>
<div class="instagram view"></div>
<div class="instagram sight"></div>
<div class="instagram arch"></div>
<div class="instagram jp"></div>
