<script>
function show() {
  document.getElementById('target').className = "visible"
}
</script>

<div id="select">
  <%= render 'nav' %>

  <div class="title">
    <div class="question"><%= @ask.question %></div>

    <div class="icon">
      <% if @next != "/selection" %>
        <a href="/ask">
      <% else %>
        <a href="<%= @current %>">
      <% end %>
        <%= image_tag('icon_loop_3.png') %>他の質問を選ぶ</a>
    </div>
  </div>

  <div class="pic">
    <span><%= link_to image_tag(@ask.image_l, :class=>"circle"),@next %></span>

    <div id="target" class="hidden">
      <%= image_tag('loading_b.gif') %>
    </div>

    <span><%= link_to image_tag(@ask.image_r, :class=>"circle"),@next %></span>

   </div>
</div>
