<div class="wrapper">
  <div class="tour">
    <% tour = @tourDetail %>
    <!-- HTMLで出力 -->
    <% if ! tour.nil? %>
      <% if ! tour['img'][0].nil? %>
         <h2><%= tour['title'] %></h2>
        <%= link_to image_tag(tour['img'][0]['l']),
         tour['urls']['pc'],
         {:target => "_blank",
         :alt =>tour['img'][0]['caption']} %><br>
        *国名:<%= tour['dest']['country']['name'] %><br>
        *目的地:<%= tour['dest']['name'] %><br>
        *期間:<%= tour['term'] %>日間<br>
        *旅行代金:<%= tour['price']['all_month']['min'] %>～
             <%= tour['price']['all_month']['max'] %>円<br>
        <%= link_to '詳細はこちら', tour['urls']['pc'], {:target => "_blank"} %>
      <% end %>
    <% end %>
  </div>
  <div class="weather">
    <今日の天気><br>
    <%= image_tag( 'http://openweathermap.org/img/w/' + @weather_icon + '.png') %><br>
    最高気温:<%= @temp_max %>度<br>
    最低気温:<%= @temp_min %>度<br>

  </div>
  <div class="photo" style="margin-top: 30px;">
    <span>
      <% @photos.each do |photo| %>
        <%= image_tag(photo['images']['thumbnail']['url']) %>
      <% end %>
    </span>
  </div>
</div>
