<script>
$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide",
    animationLoop: true,
    controlNav: false
  });
});
</script>

<%= content_for(:header_for_google) do %>
<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
  #map_canvas { height: 100% }
</style>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_APPID"] %>&sensor=false">
</script>
<script type="text/javascript">
  function initialize() {
    var mapOptions = {
      center: new google.maps.LatLng(15.000, 155.000),
      zoom: 2,
      disableDefaultUI: true,
      zoomControl: true,
      zoomControlOptions: {
        position: google.maps.ControlPosition.TOP_RIGHT
      },
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      styles: [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}]
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

    <% @counter = 0 %>
    <% @tours.each do |item| %>
      <% @counter += 1 %>
      <% if ! item['img'].empty? %>
        <% @lat = item['dest']['lat'] %>
        <% @lng = item['dest']['lng'] %>
        <% @name = item['dest']['name'] %>
    setTimeout(function() {
      var myLatLng = new google.maps.LatLng(<%= @lat %>,<%= @lng %>);
      var marker = new google.maps.Marker({
        position: myLatLng, map: map, title: '<%= @name %>', animation: google.maps.Animation.DROP
      });
    }, <%= @counter %> * 500);
      <% end %>
    <% end %>
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>
<% end %>

<% if ! @tours.nil? %>
  <div class="wrapper" style="margin-top: -80px;"><div class="flexslider"><ul class="slides">

    <% @tours.each do |item| %>
      <% if ! item['img'].empty? %>

        <!-- データを変数に格納 -->
        <% item['img'].sample(1).each do |img| %>
          <% @img_url = img['l'] %>
          <% @caption = img['caption'] %>
        <% end %>

        <% @tour_url = item['urls']['pc'] %>
        <% @title = item['title'] %>
        <% @city = item['city_summary'] %>

        <!-- HTMLで出力 -->
        <li>
          <div class="tour">
            <div class="pic">
              <%= image_tag(@img_url, :alt => @caption) %>
            </div>
            <div class="text">
              <h2><%= @city %></h2>
              <%= @title %><br />
              <br />
              <%= link_to '> 詳細をみる', @tour_url, {:target => "_blank"} %>
            </div>
          </div>
        </li>
        
      <% end %>
    <% end %>

  <ul></div> </div>
<% end %>

<div style="height: 320px; width: 966px; margin: -55px auto 100px auto;">
  <div id="map_canvas" style="width:100%; height:100%"></div>
</div>
