<script>
$(window).load(function() {
  $('.flexslider').flexslider({
    slideshow: false,
    start : function(slider){
      setActive(slider.currentSlide);
    },
    after : function(slider){
      setActive(slider.currentSlide);
    }
  });
  $('.flex-pause, .flex-prev, .flex-next').click(function () {
    map = markerActive.getMap();
    map.setZoom(1);
  });
});
</script>

<%= content_for(:header_for_google) do %>
<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
  #map_canvas { height: 100% }
</style>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_APPID"] %>&sensor=false">
</script>
<script type="text/javascript">
  var markerList;
  var markerActive;
  var iconActive;
  var iconInactive;
  function initialize() {
    markerList = new google.maps.MVCArray();
    var styles = [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}];
    var mapOptions = {
      center: new google.maps.LatLng(15.000, 155.000),
      zoom: 1,
      disableDefaultUI: true,
      zoomControl: true,
      zoomControlOptions: {
        position: google.maps.ControlPosition.TOP_RIGHT
      },
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      styles: styles
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
    
    iconActive = new google.maps.MarkerImage('assets/pin_a.png',
      new google.maps.Size(50,79),
      new google.maps.Point(0,0),
      new google.maps.Point(14,46)
    );
    iconInactive = new google.maps.MarkerImage('assets/pin_ia.png',
      new google.maps.Size(50,79),
      new google.maps.Point(0,0),
      new google.maps.Point(14,46)
    );
    markerActive= new google.maps.Marker({
      map: map, icon: iconActive, zIndex: 99, visible: false
    });
    <% if ! @tours.nil? %>
    <% @counter = 0 %>
    <% @tours.each do |item| %>
      <% if ! item['img'].empty? %>
        <% @counter += 1 %>
        <% @lat = item['dest']['lat'] %>
        <% @lng = item['dest']['lng'] %>
        <% @name = item['dest']['name'] %>
    setTimeout(function() {
      var myLatLng = new google.maps.LatLng(<%= @lat %>,<%= @lng %>);
      var zindex = <%= @counter-1 %>;
      var marker = new google.maps.Marker({
        position: myLatLng, map: map, icon: iconInactive, title: '<%= @name %>', animation: google.maps.Animation.DROP, zIndex: zindex
      });
      markerList.push(marker);
      /*google.maps.event.addListener(marker, 'click', function(){
        $('.flexslider').flexslider(marker.getZIndex());
        moveActiveMarker(marker);
        markerList.forEach(function(marker){
          marker.setIcon(iconInactive);
        });
        marker.setIcon(iconActive);
        map.panTo(marker.getPosition());
        //map.setZoom(4);
      });*/
    }, <%= @counter %> * 180);
      <% end %>
    <% end %>
    <% end %>
  }

  function setActive(current) {
    markerList.forEach(function(marker){
      if (marker.getZIndex() == current) {
        moveActiveMarker(marker);
        marker.setIcon(iconActive);
        map = marker.getMap();
        map.panTo(marker.getPosition());
      } else {
        marker.setIcon(iconInactive);
      }
    });
  }

  function moveActiveMarker(marker) {
    markerActive.setPosition(marker.getPosition());
    markerActive.setTitle(marker.getTitle());
    markerActive.setVisible(true);
  }

  google.maps.event.addDomListener(window, 'load', initialize);

  $(document).ready( function(){
    $('.tooltip').darkTooltip({
        opacity: 1,
        animation: 'fadeIn',
        gravity: 'south',
        theme:'light'
    });
  });
</script>
<% end %>

<% if ! @tours.nil? %>
  <div id="search">

    <div class="flexslider"><ul class="slides">

    <% @tours.each do |item| %>
      <% if ! item['img'].empty? %>

        <!-- データを変数に格納 -->
        <% item['img'].sample(1).each do |img| %>
          <% @img_url = img['l'] %>
          <% @caption = img['caption'] %>
        <% end %>

        <% @tour_url = item['urls']['pc'] %>
        <% @title = item['title'] %>
        <% @city = item['city_summary'] %>

        <!-- HTMLで出力 -->
        <li>
          <div class="tour">
            <div class="pic">
              <img src="<%= @img_url %>" alt="<%= @caption %>">
            </div>

            <div class="text">
              <h2><%= @city %></h2>
              
              <div class="info">
                2014.12.12 18:18 (日本との時差 -14)<br />
                晴れ / 24&deg;C
              </div>
              
              <div class="icon">
                <span class="fa-stack fa-lg">
                  <a class="tooltip" data-tooltip="もっと写真をみる" href="<%= "/detail?tourid=" + item['id'] %>" target="_blank">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-camera fa-stack-1x" style="color: #333;"></i>
                  </a>
                </span>
                <span class="fa-stack fa-lg">
                  <a class="tooltip" data-tooltip="ここに行けるツアーをみる" href="<%= @tour_url %>" target="_blank">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-suitcase fa-stack-1x" style="color: #333;"></i>
                  </a>
                </span>
                <span class="fa-stack fa-lg">
                  <a class="tooltip" data-tooltip="最初からやり直す" href="/selection">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-mail-reply fa-stack-1x" style="color: #333;"></i>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </li>

      <% end %>
    <% end %>

  <ul></div>

  <div class="map">
    <div id="map_canvas"></div>
  </div>

  </div>
<% end %>
