<script>
$(window).load(function() {
  $('.flexslider').flexslider({
    slideshow: false,
    start : function(slider){
      setActive(slider.currentSlide);
    },
    after : function(slider){
      setActive(slider.currentSlide);
    }
  });
  $('.flex-pause, .flex-prev, .flex-next').click(function () {
    map = markerActive.getMap();
    map.setZoom(1);
  });
});
</script>

<%= content_for(:header_for_google) do %>
<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
  #map_canvas { height: 100% }
  #lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
  }
  #detail {
    width: 1224px;
    height: 650px;
    padding: 30px; 
    display:none;
    overflow: scroll;
    background: #FFF;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
  }
</style>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_APPID"] %>&sensor=false">
</script>
<script type="text/javascript">
  var markerList;
  var markerActive;
  var iconActive;
  var iconInactive;
  function initialize() {
    markerList = new google.maps.MVCArray();
    var styles = [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}];
    var mapOptions = {
      center: new google.maps.LatLng(15.000, 155.000),
      zoom: 1,
      disableDefaultUI: true,
      zoomControl: true,
      zoomControlOptions: {
        position: google.maps.ControlPosition.TOP_RIGHT
      },
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      styles: styles
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

    iconActive = new google.maps.MarkerImage('assets/pin_a.png',
      new google.maps.Size(20,32),
      new google.maps.Point(0,0)
      //new google.maps.Point(6,18)
    );
    iconInactive = new google.maps.MarkerImage('assets/pin_ia.png',
      new google.maps.Size(20,32),
      new google.maps.Point(0,0)
      //new google.maps.Point(6,18)
    );
    markerActive= new google.maps.Marker({
      map: map, icon: iconActive, zIndex: 99, visible: false
    });
    <% if ! @tours.nil? %>
    <% @counter = 0 %>
    <% @tours.each do |item| %>
      <% if ! item['img'].empty? %>
        <% @counter += 1 %>
        <% @lat = item['dest']['lat'] %>
        <% @lng = item['dest']['lng'] %>
        <% @name = item['dest']['name'] %>
    setTimeout(function() {
      var myLatLng = new google.maps.LatLng(<%= @lat %>,<%= @lng %>);
      var zindex = <%= @counter-1 %>;
      var marker = new google.maps.Marker({
        position: myLatLng, map: map, icon: iconInactive, title: '<%= @name %>', animation: google.maps.Animation.DROP, zIndex: zindex
      });
      markerList.push(marker);
      /*google.maps.event.addListener(marker, 'click', function(){
        $('.flexslider').flexslider(marker.getZIndex());
        moveActiveMarker(marker);
        markerList.forEach(function(marker){
          marker.setIcon(iconInactive);
        });
        marker.setIcon(iconActive);
        map.panTo(marker.getPosition());
        //map.setZoom(4);
      });*/
    }, <%= @counter %> * 180);
      <% end %>
    <% end %>
    <% end %>
  }

  function setActive(current) {
    markerList.forEach(function(marker){
      if (marker.getZIndex() == current) {
        moveActiveMarker(marker);
        marker.setIcon(iconActive);
        map = marker.getMap();
        map.panTo(marker.getPosition());
      } else {
        marker.setIcon(iconInactive);
      }
    });
  }

  function moveActiveMarker(marker) {
    markerActive.setPosition(marker.getPosition());
    markerActive.setTitle(marker.getTitle());
    markerActive.setVisible(true);
  }

  function createPhotoElement(photo) {
    var innerHtml = $('<img>')
        .addClass('instagram-image')
        .attr('src', photo.images.low_resolution.url);

    innerHtml = $('<a>')
        .attr('target', '_blank')
        .attr('href', photo.link)
        .append(innerHtml);
    return innerHtml;
  }

  function loadInstagram(divclass, hashtag) {
    var dfd = jQuery.Deferred();
    $(divclass).on('didLoadInstagram', function(event, response) {
      var that = this;
      $.each(response.data, function(i, photo) {
        $('#instagramphoto').append(createPhotoElement(photo));
      });
      console.log(response);
      dfd.resolve();
    });
    $(divclass).instagram({
      hash: hashtag,
      clientId: cid
    });
    return dfd.promise();
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>
<% end %>

<% if ! @tours.nil? %>
  <div id="search">
    <div id="detail">
    </div>
    <div class="flexslider"><ul class="slides">

    <% @tours.each do |item| %>
      <% if ! item['img'].empty? %>

        <!-- データを変数に格納 -->
        <% photo = item['panoramio_photos'].sample(1)[0] %>
        <% @img_url = photo['photo_file_url'] %>
        <% @caption = photo['photo_title'] %>
        <% @photo_url = photo['photo_url'] %>
        <% @photo_owner = photo['owner_name'] %>
        <% @photo_owner_url = photo['owner_url'] %>

        <% @tour_url = item['urls']['pc'] %>
        <% @title = item['title'] %>
        <% @city = item['dest']['name'] %>

        <!-- HTMLで出力 -->
        <li>
          <div class="tour">
            <div class="pic" style="background-image: url('<%= @img_url %>');">
              <div class="panoramio">
                <img src="http://www.panoramio.com/img/panoramio-marker.png" />
                <br />
                <a href='<%= @photo_url %>' target="_blank">Photo</a> by <a href='<%= @photo_owner_url %>' target="_blank"><%= @photo_owner %></a>
                <br />
                Photos provided by Panoramio are under the copyright of their owners.
              </div>
            </div>

            <div class="gradient"></div>

            <div class="text">
              <div class="destination">
                <p class="title">あなたにオススメの場所は</p>
                <h2><%= @city %></h2>
              </div>

              <div class="icon">
                <!--
                <div class="tooltip" title="もっと写真をみる">
                  <a href="<%= "/detail?tourid=" + item['id'] + "&citycode=" + item['dest']['code'] %>" target="_blank">
                    <span><%= image_tag('icon_camera_3.png') %></span>
                  </a>
                </div>
                -->
                <div class="tooltip" title="もっと写真をみる">
                  <span><%= link_to image_tag('icon_camera_3.png'), "/detail?tourid=" + item['id'] + "&citycode=" + item['dest']['code'], remote: true  %></span>
                  <a id="modallink" rel="leanModal" href="#detail" style="display:none;"></a>
                </div>

                <div class="tooltip space" title="ここに行けるツアーをみる">
                  <a href="<%= @tour_url %>" target="_blank">
                    <span><%= image_tag('icon_suitcase_3.png') %></span>
                  </a>
                </div>

                <div class="tooltip space" title="最初からやり直す">
                  <a href="/ask">
                    <span><%= image_tag('icon_back_3.png') %></span>
                  </a>
                </div>
              </div>

              <% @timedif = item['dest']['lng'].to_i/15 %>
              <div class="time">
                <p class="title">今の時間</p>
                <%= (Time.now + 3600 * @timedif).strftime("%Y.%m.%d %H:%M")  %> (日本との時差 -<%= @timedif - 9 %>時間)
              </div>

              <div class="spot">
                <% if item['spots'].count > 0 %>
                <p class="title">観光スポット</p>
                <% end %>
                <ul>
                <% item['spots'].each do |spot| %>
                  <li><%= spot['name'] %>
                <% end %>
                </ul>
              </div>
            </div>

          </div>
        </li>

      <% end %>
    <% end %>

  <ul></div>

  <div class="map">
    <div id="map_canvas"></div>
  </div>

  <div class="footer">
    Copyright &copy; <a href="/" alt="Home">Tabinotane</a>. All rights reserved.
  </div>

  </div>
<% end %>

<script>
$(document).ready( function(){
  $('.tooltip').powerTip({
    placement: 'n'
  });

  $('a[rel*=leanModal]').leanModal({
    top: 50,                     // モーダルウィンドウの縦位置を指定 
    closeButton: ".modal_close"  // 閉じるボタンのCSS classを指定
  });
});
</script>
