<%= content_for(:header_for_google) do %>
<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
  #map_canvas { height: 100% }
</style>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_APPID"] %>&sensor=false">
</script>
<script type="text/javascript">
  function initialize() {
    var mapOptions = {
      center: new google.maps.LatLng(15.000, 135.000),
      zoom: 1,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

    <% @counter = 0 %>
    <% @jsonData['results']['tour'].each do |item| %>
      <% @counter += 1 %>
      <% if ! item['img'].empty? %>
        <% @lat = item['dest']['lat'] %>
        <% @lng = item['dest']['lng'] %>
        <% @name = item['dest']['name'] %>
    var myLatLng = new google.maps.LatLng(<%= @lat %>,<%= @lng %>);
    var marker = new google.maps.Marker({
      position: myLatLng, map: map, title: '<%= @name %>', animation: google.maps.Animation.DROP
    });
      <% end %>
    <% end %>
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>
<% end %>

<% if ! @jsonData.nil? %>
  <div class="wrapper">

    <h2>検索結果</h2>
    
    <div style="border: 1px solid black; height: 200px; margin: -50px 40px 50px;">
      <div id="map_canvas" style="width:100%; height:100%"></div>
    </div>

    <% @jsonData['results']['tour'].each do |item| %>
      <% if ! item['img'].empty? %>

        <!-- データを変数に格納 -->
        <% item['img'].sample(1).each do |img| %>
          <% @img_url = img['l'] %>
          <% @caption = img['caption'] %>
        <% end %>

        <% @tour_url = item['urls']['pc'] %>
        <% @title = item['title'] %>
        <% @city = item['city_summary'] %>

        <!-- HTMLで出力 -->
        <div class="tour">
          <%= link_to image_tag(@img_url, :alt => @caption), @tour_url, {:target => "_blank"} %>
          <div class="text">
            <%= @title %><br />
            <br />
            <%= @city %>
          </div>
        </div>
        
      <% end %>
    <% end %>

  </div>
<% end %>
