<script>
var count = 0;
function rotate() {
  var elem = document.getElementById('loading');
  elem.style.MozTransform = 'scale(0.5) rotate('+count+'deg)';
  elem.style.WebkitTransform = 'scale(0.5) rotate('+count+'deg)';
  if (count==360) { count = 0 }
  count+=45;
  window.setTimeout(rotate, 100);
}
window.setTimeout(rotate, 100);

function show() {
  var elem = document.getElementById('target');
  elem.className = "visible"
}
</script>

<div id="select">
  <div class="nav">
    <div class="row">
      <div class="logo">
        <a href="/" alt="Home">
          <%= image_tag('logo_s.png', :alt => 'タビノタネ') %>
        </a>
      </div>
        
      <div class="breadcrumb">
        <span class="question"><%= image_tag('icon_question_d.png') %></span>

        <span class="arrow"><%= image_tag('icon_arrow_d.png') %></span>

        <span class="question"><%= image_tag('icon_question_3.png') %></span>

        <span class="arrow"><%= image_tag('icon_arrow_d.png') %></span>

        <span class="airplane"><%= image_tag('icon_airplane_d.png') %></span>
      </div>

      <div style="clear: both;"></div>
    </div>
  </div>

  <div class="title">
    <div class="question">好きな写真はどっち？</div>

    <div class="icon">
      <a href="javascript:location.reload(true);"><%= image_tag('icon_loop_3.png') %>どっちも好きじゃない</a>
    </div>     
  </div>
  
  <div class="pic">
    <span><%= link_to image_tag(@image_l.path, :class => "circle"), '/tour?imgid=' + @image_l.image_id, {:onclick => "show();", data: {no_turbolink: true}} %></span>

    <div id="target" class="hidden">
      <%= image_tag('loading.gif') %>
    </div>
    
    <span><%= link_to image_tag(@image_r.path, :class => "circle"), '/tour?imgid=' + @image_r.image_id, {:onclick => "show();", data: {no_turbolink: true}} %></span>
  </div>
</div>
