<script>
function show() {
  document.getElementById('target').className = "visible"
}
</script>

<div id="select">
  <%= render 'nav' %>

  <div class="title">
    <div class="question">好きな写真はどっち？</div>

    <div class="icon">
      <a href="javascript:location.reload(true);"><%= image_tag('icon_loop_3.png') %>どっちも好きじゃない</a>
    </div>     
  </div>
  
  <div class="pic">
    <span><%= link_to image_tag(@image_l.path, :class => "circle"), '/tour?imgid=' + @image_l.image_id, {:onclick => "show();", data: {no_turbolink: true}} %></span>

    <div id="target" class="hidden">
      <%= image_tag('loading_b.gif') %>
    </div>
    
    <span><%= link_to image_tag(@image_r.path, :class => "circle"), '/tour?imgid=' + @image_r.image_id, {:onclick => "show();", data: {no_turbolink: true}} %></span>
  </div>

  <%= render 'footer' %>
</div>
